---
nodes:
- name: air
  type: AirPurifier
- name: lamp
  power_ip: 192.168.0.11
- name: printer
  power_ip: 192.168.0.12
- name: computer
  ip: 192.168.0.3
  power_ip: 192.168.0.13
  services: auto
- name: router
  ip: 192.168.0.1
  services: auto
- name: tv
  type: KonkeNode
  power_ip: 192.168.0.15
services:
- uname: "//root"
  proc: commented_proc
  name: will_not_be_used
- uname: "pi"
  proc: aria2c
  name: aria2
  actions:
    管理: /yaaw/
- uname: root
  proc: mjpg_streamer
  name: mjpg_streamer
  dispname: 摄像头
