<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <title>Status Monitor</title>
    <link href="static/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="static/controls.css">
    <script src="static/mui.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/vue.js"></script>
</head>

<body>
<div id="app">
    <div id="sidedrawer" class="mui--no-user-select">
        <div id="sidedrawer-brand" class="mui--appbar-line-height">
            <span class="mui--text-title">Status Monitor</span>
        </div>
        <div class="mui-divider"></div>
        <ul>
            <li id="u_nodes">
                <strong>节点</strong>
                <ul>
					<li class="pointer" v-for="node in nodes" @click="navigate('node/' + node)" :class="{active: current[0] == 'node' && current[1] == node}">{{ config.node_names[node] || node }}</li>
				</ul>
            </li>
            <li id="u_services" data-href="#services" :class="{active: current[0] == 'services'}">
                <strong @click="navigate('services')">服务</strong>
            </li>
            <li id="u_video">
                <strong>摄像头</strong>
                <ul>
                    <li class="pointer" v-for="channel in config.video_channels" @click="navigate('video/' + channel)" :class="{active: current[0] == 'video' && current[1] == channel}">摄像头 {{ channel }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <header id="header">
        <div class="mui-appbar mui--appbar-line-height">
            <div class="mui-container-fluid">
                <a
                    class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                <span class="mui--text-title mui--visible-xs-inline-block">Status Monitor</span>
            </div>
        </div>
    </header>

    <div id="content-wrapper">
        <div id="appbar-placeholder" class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
            <div class="mui-row">
                <div class="mui-col-sm-10 mui-col-sm-offset-1">
                    <div class="space-top"></div>

                    <h1 id="n_name">{{ config.node_names[current[1]] || (config.node_names[current[0]] + (current[1] || '')) }}</h1>

                    <div class="mui-panel" id="u_main">
					
    <section v-if="current[0] === 'node' && ['air', 'switches'].indexOf(current[1]) == -1">

        <div class="mui-tabs__pane mui--is-active" id="pane-node-status" v-if="resp[current[1]]">
            <p>
                电源 
				<button-toggler v-if="resp[current[1]]" action="toggle_power" :data-node="current[1]" 
				:val="resp[current[1]]['power']"></button-toggler>
            </p>
            <p>
                负载 <span id="n_uptime">{{ resp[current[1]].uptime }}</span> / <span id="n_temp">{{ resp[current[1]].temp.replace(/([\d\.]+)d/g, '$1&deg;C') }}</span>
            </p>
            <div>
	            <button class="mui-btn mui-btn--primary" data-action="reboot">重启</button>
	            <button class="mui-btn mui-btn--danger" data-action="force_off">强制关机</button>
			</div>
			<div hidden>
				<button class="mui-btn" data-action="r/df">df</button>
				<button class="mui-btn" data-action="r/ps">ps</button>
			</div>
        </div>
    </section>
    <section v-if="current[1] === 'air'">

        <h2>状态</h2>
        <div class="mui-divider"></div>
        <div v-if="resp.air">
            <img :src="resp.air.aqi_icon" alt="" id="n_aqi_icon" class="aqi-icons">
            <img :src="resp.air.city_aqi" alt="" id="n_city_aqi" class="aqi-icons">
            <img :src="resp.air.aqi_pred" alt="" id="n_aqi_pred" class="aqi-icons">
            <p>
                <span id="n_temp">{{ (resp.air.temp || '').replace(/([\d\.]+)d/g, '$1&deg;C') }}</span> /
				<span id="n_hum">{{ resp.air.hum }}</span>
            </p>
        </div>

        <h2>操作</h2>
        <div class="mui-divider"></div>
		<div>
	        <button data-action="power_on" data-node="air" class="mui-btn button-on">开</button>
	        <button data-action="speed1" data-node="air" class="mui-btn mui-btn--primary">速度1</button>
	        <button data-action="speed2" data-node="air" class="mui-btn mui-btn--primary">速度2</button>			
		</div>
		<div>
            <button data-action="power_off" data-node="air" class="mui-btn button-off">关</button>
            <button data-action="reset" data-node="air" class="mui-btn mui-btn--accent">重置</button>
		</div>
    </section>
    <section v-if="current[1] === 'switches'">
        <div v-for="n in switch_nodes">
            <h2>{{ config.node_names[n] || n }}</h2>
            <div class="mui-divider"></div>
            <button-toggler v-if="resp[n]" action="toggle_power" :data-node="n" :val="resp[n]['power']"></button-toggler>
        </div>
    </section>
    <section v-if="current[0] === 'services'">
        <div v-for="value in services">
			<h3>{{value.dispname||value.name}}</h3>
            <button-toggler v-if="resp[value.node]" :val="resp[value.node].services[value.name]" :node="value.node" action="toggle_service" :data-service="value.name"></button-toggler>
			<button v-for="action, key in value.actions" v-if="['start', 'stop', 'restart'].indexOf(key) &lt; 0"
			class="mui-btn" data-action="link" :data-href="action">{{key}}</button>
        </div>
    </section>
    <section v-if="current[0] === 'video'">
        <img :src="config.video_provider.replace('{channel}', current[1]).replace('{t}', Math.random())" alt="video">
    </section>
	
                    </div>

                    <div class="space-bottom"></div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="mui-container-fluid">
            <br>
            Made with <a href="https://www.muicss.com">MUI</a>
        </div>
    </footer>
</div>


    <script src="static/controls.js"></script>
    <script>var config = {
            default_node: 'switches',
            video_provider: '/stream/?action=snapshot_{channel}&_t={t}',
			video_channels: ['0', '1'],
            node_names: {
                'air': '空气净化器',
                'computer': '台式机',
                'router': '路由器',
                'self': '树莓派',
                'printer': '打印机',
                'lamp': '灯',
                'tv': '电视',
                'sony': '文件服务器',
                'switches': '开关组',
                'tplink': 'TP-Link',
				'services': '服务',
				'video': '摄像头'
            },
        };
		
        var app = new Vue({
		  el: '#app',
		  data: {
			config: config,
			nodes: [],
			switch_nodes: [],
			services: [],
			videos: [],
			resp: {},
			services: [],
			current: [''],
		  },
		  methods: {
			load_services: function () {
				app.services = [];
				$.get('node/' + app.current[1] + '/load_services').done((data) => {
					app.services = data.resp;
				});
			},
			navigate: function (u) {
				location.hash = '#' + u;
			},
			load_all_services: function () {
				app.services = [];
				$.get('node/self/all_services').done((data) => {
					app.services = data.resp;
				});
			}
		  }
		});
		
		init(app);
    </script>
</body>

</html>